<section>
  <div class="container">
    <div class="padding_inner">
      <h1>User Management</h1> 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>      
      <div class="user_add user_add_btn">  
        <div class="pull-right">
          <%= link_to 'Add New', new_epsadmin_admin_path, :class =>"btn btn-primary" %>
        </div>
        <div class="clearfix"></div>
      </div>
      <!--merchant_table-->
      <div class="merchant_table table-responsive">
        <table class="display table text-center" id="admin_user">
          <thead>
              <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Disabled</th>
              </tr>
            </thead>
            <tbody>
              <% @epsadmin_users.each do |user| %>
                <tr>
                  <td>
                    <%= link_to user.full_name, epsadmin_admin_path(user) %>
                  </td>
                  <td>
                    <%=user.email%>
                  </td>
                  <td>
                    <%=user.role%>
                  </td>     
                  <td> 
                    <% if user.disabled == false %>
                      <span style="cursor: pointer;" onClick="pop('popDiv')" class="popup btn btn-danger user_pay_btn" id="<%=user.id%>">
                      <span id="sta">Disable</span></span>
                    <% else %>
                      <span style="cursor: pointer;" onClick="pop('popDiv')" class="popup btn btn-success user_pay_btn" id="<%=user.id%>">
                      <span id="sta">Activate</span></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <!--merchant_table ends-->
    </div>
  </div>
</section>


<div id="popDiv" class="ontop">
  <table cellpadding="4" cellspacing="4" id="popup">
    <tr>
      <td align="right">
        <a title="Click here to close the pop-up" href="#" onClick="hide('popDiv')">X</a>
      </td>
    </tr>
    <tr>
      <td align="center">
        Are you sure for this action?
        <input type="hidden" id="uid" name="uid">
        <input type="hidden" id="stat" name="stat">
      </td>
    </tr>
    <tr>
      <td id="button" align="center">
        <input type="button" onClick="hide('popDiv')" value="Cancel">
        <input type="submit" value="Submit" id="status">
      </td>
    </tr>
  </table>
</div>


<script type="text/javascript">
  $('#admin_user').dataTable();

  $(".popup").click(function(){
    var val = $("#uid").val($(this).attr('id'));
    var input = document.getElementById("sta").innerText;
    var stat = $("#stat").val(input);
  })

  $("#status").click(function() {
    var uid = $("#uid").val();
    var stat = $("#stat").val();
    $.ajax({
    url: "/epsadmin/admins/update_user_status",
    type: "POST",
    data: {"stat" : stat, "uid" : uid},
    dataType: "json",
    success: function(data) {
      alert("Successfully updated the status")
        location.reload();
      }
    });
  });

  function pop(div) {
    document.getElementById(div).style.display = 'block';
  }
  function hide(div) {
    document.getElementById(div).style.display = 'none';
  }
    //To detect escape button
  document.onkeydown = function(evt) {
    evt = evt || window.event;
    if (evt.keyCode == 27) {
      hide('popDiv');
    }
  };

</script>