<section>
  <div class="container">
    <div class="padding_inner">
      <h1>Billing</h1>          
      <div class="merchant_table table-responsive billing_table">
          <table class="display table text-center" id="merchant_invoice">
            <thead>
              <tr>
                  <th>Invoice Id</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Type</th>
                  <th>status</th>
              </tr>
            </thead>
            <tbody>
              <% @merchant_billing.each do |invoice| %>
                <tr>
                  <td align="center"><%= link_to invoice.invoice_number, dashboard_billing_individual_path(invoice.id)%></td>
                  <td align="center"><%= invoice.invoice_date.strftime("%d/%m/%y") %></td>
                  <td align="center"><%= invoice.invoice_amount %></td>
                  <td align="center"><%= invoice.invoice_type.upcase unless invoice.invoice_type.nil? %></td>
                  <% if invoice.status == "pending" || invoice.status == "cancelled" %>
                    <td align="center" class="pending">
                        <%= invoice.status.upcase unless invoice.status.nil? %>
                    </td>
                <% else %>
                    <td align="center" class="active">
                        <%= invoice.status.upcase unless invoice.status.nil? %>
                    </td>
                <% end %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</section>


<script type="text/javascript">
  $('#merchant_invoice').dataTable();
  bJQueryUI: true;
</script>

