<section>
  	<div class="container">
  		<div class="padding_inner">
	  		<h1>Dashboard</h1>	
	  		<h3>Pending Transactions</h3>
	  		<div class="merchant_table table-responsive dashboard_pending">
		  		<table class="display table text-center" id="merchant_index">
		  			<thead>
						<tr>
							<th>
								Date
							</th>
							<th>
								Amount
							</th>
							<th>
								Status
							</th>
							<th>
								Device
							</th>
							<th>
								Mark As
							</th>
						</tr>
					</thead>
					<tbody>
						<% @transaction.each do |transaction_list| %>
							<tr>
								<td align="center">
									<%= transaction_list.transaction_timestamp.strftime("%d %b %Y") unless transaction_list.transaction_timestamp.nil? %>
								</td>
								<td align="center">
									<%= transaction_list.amount %>
								</td>
								<% if transaction_list.transaction_status == "paid" %>
									<td align="center" class="active">
										<%= transaction_list.transaction_status.upcase unless transaction_list.transaction_status.nil? %>
									</td>
								<% else %>
									<td align="center" class="pending">
										<%= transaction_list.transaction_status.upcase unless transaction_list.transaction_status.nil? %>
									</td>
								<% end %>
								<td align="center">
									<%= transaction_list.device.device_serial_number %>
								</td>
				  				<td>
				  					<div class="button_device">
					  					<% if transaction_list.transaction_status == "pending"%>
											<span style="cursor: pointer;" onClick="pop('popDiv')" class="popup btn btn-success" id="<%=transaction_list.id%>">Paid</span>

											<%= link_to 'Cancelled',{:controller => :dashboard, :action => :transaction_cancel, :id => transaction_list.id},:class=> "btn btn-danger" , data: {confirm: "Are you sure!"} %>
										<% end %>
								  	</div>
							  	</td>
						  	</tr>
					  	<% end %>
					</tbody>				  						  			
		  		</table>
		  	</div><!--table ends-->

		  	<div class="dashboard_outer">
		  		<div class="row">
		  			<div class="top_space">
				  		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">	
				  			<h3>Transactions Executed In Last Month</h3>
							<div id="chart" style="width:100%; height:400px;"></div>
				  		</div>			  		
				  		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				  			<h3>Total Transactions In Last Month</h3>
				  			<div class="green_bg">
				  				<div><%= get_transaction_count_total(Time.now-1.month,Time.now) %></div>
				  			</div>
				  		</div>
		  				<div class="clearfix"></div>
		  			</div>
			  		<div class="top_space">
				  		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"> 
				  		<h3>Amount Earned In Last Month</h3>
				  			<div id="chart_amount" style="width:100%; height:400px;">
				  			</div>
				  		</div>			  		
				  		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				  			<h3>Total Amount Earned In Last Month</h3>
				  			<div class="green_bg blue_bg">
				  				<div>
				  					<div><span>&#8377;</span>
				  					<%= get_transaction_amount_total(Time.now-1.month,Time.now) %>
				  					</div>
				  				</div>
				  			</div>
				  		</div>
			  			<div class="clearfix"></div>
		  			</div>
			  	</div>
		  	</div><!--dashboard_outer ends-->
		</div>
  	</div>
</section> 
       
<div id="popDiv" class="ontop">
	<table cellpadding="4" cellspacing="4" id="popup">
		<tr>
			<td align="right">
				<a title="Click here to close the pop-up" href="#" onClick="hide('popDiv')">X</a>
			</td>
		</tr>
		<tr>
			<td align="center" style="font-weight:bold">
				Payment Details
			</td>
		</tr>
		<tr>
			<td>
				Payment Date: <%= Date.today.strftime("%d/%m/%y") %>
				<input type="hidden" value="<%= DateTime.now %>" id="payment_timestamp" name="payment_timestamp">
			</td>
		</tr>
		<tr>
			<td>
				Transaction Type
				<select name="transaction_type" id="transaction_type">
					<option value="">Select Type</option>	
				  	<option value="cash">Cash</option>
				  	<option value="imps">IMPS</option>
				  	<option value="paymentgateway">PaymentGateway</option>
				  	<option value="emv">EMV</option>
				</select>
				<input type="hidden" id="tid" name="tid">
			</td>
		</tr>
		<tr>
			<td>
				Transaction Details <br/>
				<textarea name="transaction_details" id="transaction_details" placeholder="Enter transaction details here..." class="transaction_area"></textarea>
			</td>
		</tr>

		<tr>
			<td id="button" align="center">
				<input type="submit" value="Submit">
			</td>
		</tr>
	</table>
</div>


<script type="text/javascript">

	$( document ).ready(function() {
	    $('#merchant_index').dataTable();
	});

	$(".popup").click(function(){
		var val = $("#tid").val($(this).attr('id'));
	})

	$("#button").click(function() {
		var tid = $("#tid").val();
		var date = $("#payment_timestamp").val();
		var type = $("#transaction_type").val();
		var details = $("#transaction_details").val();
		if (type != "" && details != ""){
		   	$.ajax({
		   	url: "/dashboard/update_transaction",
		   	type: "POST",
		   	data: {"date" : date, "type" : type, "details" : details, "tid" : tid},
		   	dataType: "json",
		   	success: function(data) {
		   		alert("Successfully updated the status")
		        location.reload();
		     	}
		   	});
		}
		else if (type == "" ){
			alert("Please select payment type");
		}
		else{
			alert("Please provide the payment details");
		}

	});

	function pop(div) {
		document.getElementById(div).style.display = 'block';
	}
	function hide(div) {
		document.getElementById(div).style.display = 'none';
	}
		//To detect escape button
	document.onkeydown = function(evt) {
		evt = evt || window.event;
		if (evt.keyCode == 27) {
			hide('popDiv');
		}
	};


	$(function () {
	    $('#chart').highcharts({
	        chart: {
	            type: 'line'
	        },
	        title: {
	            text: 'Monthly Total Transactions'
	        },
	        xAxis: {
	        	type: 'datetime',
	            dateTimeLabelFormats: { 
	                month: '%d. %b',
	                year: '%b'
	            },
	            title: {
	                text: 'Date'
	            }
	        },
	        yAxis: {
	            title: {
	                text: 'Number Of Transactions'
	            },
	            min: 0
	        },
	        tooltip: {
	            pointFormat: '{point.y:.0f}'
	        },

	        plotOptions: {
	            spline: {
	                marker: {
	                    enabled: true
	                }
	            }
	        },

	        series: [{
	            name: 'Transactions',
	            data: <%= get_transaction_count(Time.now-1.month,Time.now) %>
	        }]
	    });
	});

	$(function () {
	    $('#chart_amount').highcharts({
	        chart: {
	            type: 'line'
	        },
	        title: {
	            text: 'Monthly Earned Transactions'
	        },
	        xAxis: {
	        	type: 'datetime',
	            dateTimeLabelFormats: { // don't display the dummy year
	                month: '%d. %b',
	                year: '%b'
	            },
	            title: {
	                text: 'Date'
	            }
	        },
	        yAxis: {
	            title: {
	                text: 'Amount (Rs)'
	            },
	            min: 0
	        },
	        tooltip: {
	            pointFormat: 'Rs. {point.y:.0f}'
	        },

	        plotOptions: {
	            spline: {
	                marker: {
	                    enabled: true
	                }
	            }
	        },

	        series: [{
	            name: 'Transactions',
	            data: <%= get_transaction_amount(Time.now-1.month,Time.now) %>
	        }]
	    });
	});


</script>
