<section>
  	<div class="container">
  		<div class="padding_inner details_lookup">
		  	<h1>Merchant (<%=@merchant.merchant_uniq_id.upcase%>)</h1>
	  		<!--tab_menu ends-->	  				  	
		  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			  	<div class="merchant_details">
			  		<div class="row">
				  		<h2>Merchant Details</h2>
				  		<table>
				  			<tr>
				  				<td>First Name:</td>
				  				<td> <%= @merchant.first_name%></td>
				  			</tr>
				  			<tr>
				  				<td>Last Name: </td>
				  				<td>	
				  					<%= @merchant.last_name%>		  					
							  	</td>
				  			</tr>
				  			<tr>
				  				<td>Email Id:</td>
				  				<td>
				  					<%= @merchant.email_address%>			  			
				  				</td>
				  			</tr>	
				  			<tr>
				  				<td>Phone Number:</td>
				  				<td>
				  					<%= @merchant.phone_number%>
							  	</td>
				  			</tr>
				  			<tr>
				  				<td>Age:</td>
				  				<td>
				  					<%= @merchant.age%>
							  	</td>
				  			</tr>
				  			<tr>
				  				<td>Sex:</td>
				  				<td>
				  					<%= @merchant.sex%>
							  	</td>
				  			</tr>		  			
						</table>
			  		</div>
		  		</div>
		  	</div>

		  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		  		<div class="merchant_details business_details">
			  		<div class="row">
				  		<h2>Business Details</h2>
				  		<table>
				  			<tr>
				  				<td>Business Name:</td>
				  				<td><%= @merchant.business_name%></td>
				  			</tr>
				  			<tr>
				  				<td>Business Type:</td>
				  				<td><%= @merchant.business_type%></td>
				  			</tr>
				  			<tr>
				  				<td>Industry Type:</td>
				  				<td><%= @merchant.industry_type %></td>
				  			</tr>	
				  			<tr class="add_top">
				  				<td>Address:</td>
				  				<td><%= @merchant.business_address%></td>
				  			</tr>	
				  			<tr>
				  				<td>Status:</td>
				  				<td>
				  					<b style="color: red;" ><%= @merchant.status.upcase unless @merchant.status.nil? %></b>
				  				</td>
				  			</tr>			  			 			
						</table>
			  		</div>
		  		</div>
		  	</div>
		  	<div class="clearfix"></div>

		  	<div class="kyc_details">
			  	<h2>KYC Details</h2>
			  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				  	<div class="merchant_details">
				  		<div class="row">
					  		<table>
					  			<tr class="kyc_txt">
					  				<td>
					  					KYC Submitted
									</td>
					  				<td>
					  					<% if @merchant.is_kyc_submitted != true %>
											No
										<% else %>
											Yes
										<% end %>
									</td>
					  			</tr>
					  			<tr>
					  				<td>
										Address Proof:
					  				</td>
					  				<td><%= image_tag @merchant.address_proof.url %></td>
					  			</tr>
					  			<tr>
					  				<td>ID Proof:</td>
					  				<td><%= image_tag @merchant.id_proof.url %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Business Address Proof:
					  				</td>
					  				<td>
					  					<%= image_tag @merchant.business_address_proof.url %>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Business ID Proof:
					  				</td>
					  				<td> 
					  					<%= image_tag @merchant.business_id_proof.url %>
					  				</td>
					  			</tr>
					  		</table>
				  		</div>
				  	</div>
			  	</div>	

			  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				  	<div class="merchant_details business_details given_id">
				  		<div class="row">
					  		<table>			  			
					  			<tr>
					  				<td>Given Address Proof:</td>
					  				<td><%= @merchant.given_address_proof %></td>
					  			</tr>
					  			<tr>
					  				<td>Given Id Proof:</td>
					  				<td><%= @merchant.given_id_proof %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Given Business Address Proof:
					  				</td>
					  				<td><%= @merchant.given_business_address_proof %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Given Business Id Proof:  
					  				</td>
					  				<td><%= @merchant.given_business_id_proof %></td>
					  			</tr>
					  		</table>
				  		</div>
				  	</div>
			  	</div>
			  	<div class="clearfix"></div>			  	
	  		</div>
			  
		  	<div class="merchant_device_details">
			  	<h1>Device Details</h1>
			  	<div class="merchant_table table-responsive">
			  		<table class="table text-center display" id="merchant_device">
			  			<thead>
						    <tr>
					      		<th>Terminal ID</th>
					      		<th>Phone Number</th>
					      		<th>Serial Number</th>
						      	<th>Device Type</th>
						      	<th>Device Status</th>
						    </tr>
					  	</thead>
					  	<tbody>
						  	<% @merchant_device.each do |device| %>
							    <tr>
						      		<td align="center"><%= device.terminal_id %></td>
						      		<td align="center"><%= device.sim_phone_number %> </td>    
						      		<td align="center"><%= device.device_serial_number %></td>
							      	<td align="center"><%= device.device_make %></td>
							      	<td align="center"><%= device.device_status.upcase unless device.device_status.nil? %></td>
							    </tr>
						  	<% end %>
					  	</tbody>
			  		</table>
			  	</div>
	  		</div>
		</div>
	</div>
</section>

<script type="text/javascript">
  $('#merchant_device').dataTable();
</script>