<section>
  	<div class="container">
  		<div class="padding_inner">
	  		<h1>Transactions</h1>		  		
		  	<div class="merchant_table table-responsive dash_transaction">
		  		<table class="table text-center display" id="merchant_transaction">
					<thead>
							<tr>
								<th>
									Date
								</th>
								<th>
									Amount
								</th>
								<th>
									Payment Status
								</th>
								<th>
									Device
								</th>
								<th>
									Update Payment Status
								</th>
							</tr>
						</thead>
						<tbody>
							<% @merchant_transaction.each do |transaction_list| %>
								<tr>
									<td>
										<%= transaction_list.transaction_timestamp.strftime("%d/%m/%y") unless transaction_list.transaction_timestamp.nil? %>
									</td>
									<td>
										<%= transaction_list.amount %>
									</td>
									<% if transaction_list.transaction_status == "paid" %>
										<td align="center" class="active">
											<%= transaction_list.transaction_status.upcase unless transaction_list.transaction_status.nil? %>
										</td>
									<% else %>
										<td align="center" class="pending">
											<%= transaction_list.transaction_status.upcase unless transaction_list.transaction_status.nil? %>
										</td>
									<% end %>
									<td>
										<%= transaction_list.device.device_serial_number %>
									</td>
									<td> 
									<div class="button_device">
										<% if transaction_list.transaction_status == "pending"%>

											<span style="cursor: pointer;" onClick="pop('popDiv')" class="popup btn btn-success user_pay_btn" id="<%=transaction_list.id%>">Paid</span>

											<%= link_to 'Cancelled',{:controller => :dashboard, :action => :transaction_cancel, :id => transaction_list.id},:class=> "btn btn-danger" , data: {confirm: "Are you sure!"} %>

										<% end %>
										</div>
									</td>
								</tr>
							<% end %>
						</tbody>
		  		</table>
		  	</div><!--merchant_table ends-->
		</div>
  	</div>
</section> 
   
<div id="popDiv" class="ontop">
	<table cellpadding="4" cellspacing="4" id="popup">
		<tr>
			<td align="right">
				<a title="Click here to close the pop-up" href="#" onClick="hide('popDiv')">X</a>
			</td>
		</tr>
		<tr>
			<td align="center" style="font-weight:bold">
				Payment Details
			</td>
		</tr>
		<tr>
			<td>
				Payment Date: <%= Date.today.strftime("%d/%m/%y") %>
				<input type="hidden" value="<%= DateTime.now %>" id="payment_timestamp" name="payment_timestamp">
			</td>
		</tr>
		<tr>
			<td>
				Transaction Type
				<select name="transaction_type" id="transaction_type">
					<option value="">Select Type</option>	
				  	<option value="cash">Cash</option>
				  	<option value="imps">IMPS</option>
				  	<option value="paymentgateway">PaymentGateway</option>
				  	<option value="emv">EMV</option>
				</select>
				<input type="hidden" id="tid" name="tid">
			</td>
		</tr>
		<tr>
			<td>
				Transaction Details <br/>
				<textarea name="transaction_details" id="transaction_details" placeholder="Enter transaction details here..." class="transaction_area"></textarea>
			</td>
		</tr>

		<tr>
			<td id="button" align="center">
				<input type="submit" value="Submit">
			</td>
		</tr>
	</table>
</div>
	

<script type="text/javascript">
	$('#merchant_transaction').dataTable();

	$(".popup").click(function(){
		var val = $("#tid").val($(this).attr('id'));
	})

	$("#button").click(function() {
		var tid = $("#tid").val();
		var date = $("#payment_timestamp").val();
		var type = $("#transaction_type").val();
		var details = $("#transaction_details").val();
		if (type != "" && details != ""){
		   	$.ajax({
		   	url: "/dashboard/update_transaction",
		   	type: "POST",
		   	data: {"date" : date, "type" : type, "details" : details, "tid" : tid},
		   	dataType: "json",
		   	success: function(data) {
		   		alert("Successfully updated the status")
		        location.reload();
		     	}
		   	});
		}
		else if (type == "" ){
			alert("Please select payment type");
		}
		else{
			alert("Please provide the payment details");
		}

	});

	function pop(div) {
		document.getElementById(div).style.display = 'block';
	}
	function hide(div) {
		document.getElementById(div).style.display = 'none';
	}
		//To detect escape button
	document.onkeydown = function(evt) {
		evt = evt || window.event;
		if (evt.keyCode == 27) {
			hide('popDiv');
		}
	};

</script>
