<section>
	<div class="container">
		<div class="padding_inner">
			<h1>Merchants Management</h1>
			<%= render_breadcrumbs :separator => ' / ' %>
  		 	<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>	  		
		  	<div class="pull-right">
	  			<%= link_to 'Add New Merchant', new_epsadmin_merchant_path, :class => "btn btn-primary" %>
		  	</div>
		  	<div class="clearfix"></div>
			<div class="merchant_table table-responsive">
				<table id="merchant" class="display table text-center">
				    <thead>
					  <tr>
					    <th>Merchant ID</th>
					    <th>Business Name</th>
					    <th>Name</th>
					    <th>Phone</th>
					    <th>Email</th>
					    <th>Status</th>
					  </tr>
				    </thead>
				    <tbody>
					  <% @epsadmin_merchants.each do |merchant| %>
					    <tr>
					      <td align="center"><%= link_to merchant.merchant_uniq_id.upcase, epsadmin_merchant_path(merchant) %></td>
					      <td align="center"><%=merchant.business_name%></td>
					      <td align="center"><%=merchant.first_name%>&nbsp;<%=merchant.last_name %></td>
					      <td align="center"><%=merchant.phone_number%></td>
					      <td align="center"><%=merchant.email_address%></td>
					      <td align="center"><%=merchant.status.upcase unless merchant.status.nil? %></td>
					    </tr>
					  <% end %>
					</tbody>
				</table>
		  	</div><!--merchant_table ends-->
		</div>
  	</div>
</section>

<script type="text/javascript">
  $('#merchant').dataTable();
</script>