	
<section>
  	<div class="container">
  		<div class="padding_inner details_lookup">
		  	<h1>Merchant (<%=@epsadmin_merchant.merchant_uniq_id.upcase%>)</h1>
  		 	<%= render_breadcrumbs :separator => ' / ' %>
  		 	<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
	  		<div class="tab_menu">
	  			<ul>
	  				<li><%=link_to "Details",epsadmin_merchants_path, :class=>"active"%></li>
	  				<li><%=link_to "Devices",epsadmin_merchant_devices_path(@epsadmin_merchant.id)%></li>
	  				<li><%= link_to 'Transactions', epsadmin_merchant_transaction_path(@epsadmin_merchant.id) %></li>
	  				<li><%= link_to 'Invoice', epsadmin_merchant_invoices_path(@epsadmin_merchant.id) %></li>
	  			</ul>
	  			<div class="clearfix"></div>
	  		</div>
	  		<!--tab_menu ends-->	  				  	
		  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			  	<div class="merchant_details">
			  		<div class="row">
				  		<h2>Merchant Details</h2>
				  		<table>
				  			<tr>
				  				<td>First Name:</td>
				  				<td> <%= @epsadmin_merchant.first_name%></td>
				  			</tr>
				  			<tr>
				  				<td>Last Name: </td>
				  				<td>	
				  					<%= @epsadmin_merchant.last_name%>		  					
							  	</td>
				  			</tr>
				  			<tr>
				  				<td>Email Id:</td>
				  				<td>
				  					<%= @epsadmin_merchant.email_address%>			  			
				  				</td>
				  			</tr>	
				  			<tr>
				  				<td>Phone Number:</td>
				  				<td>
				  					<%= @epsadmin_merchant.phone_number%>
							  	</td>
				  			</tr>
				  			<tr>
				  				<td>Age:</td>
				  				<td>
				  					<%= @epsadmin_merchant.age%>
							  	</td>
				  			</tr>
				  			<tr>
				  				<td>Sex:</td>
				  				<td>
				  					<%= @epsadmin_merchant.sex%>
							  	</td>
				  			</tr>		  			
						</table>
			  		</div>
		  		</div>
		  	</div>

		  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		  		<div class="merchant_details business_details">
			  		<div class="row">
				  		<h2>Business Details</h2>
				  		<table>
				  			<tr>
				  				<td>Business Name:</td>
				  				<td><%= @epsadmin_merchant.business_name%></td>
				  			</tr>
				  			<tr>
				  				<td>Business Type:</td>
				  				<td><%= @epsadmin_merchant.business_type%></td>
				  			</tr>
				  			<tr>
				  				<td>Industry Type:</td>
				  				<td><%= @epsadmin_merchant.industry_type %></td>
				  			</tr>	
				  			<tr class="add_top">
				  				<td>Address:</td>
				  				<td><%= @epsadmin_merchant.business_address%></td>
				  			</tr>	
				  			<tr>
				  				<td>Status:</td>
				  				<td>
				  					<% if @epsadmin_merchant.status == "active" %>
			  							<b class="active">
		  									<%= @epsadmin_merchant.status.upcase unless @epsadmin_merchant.status.nil? %>
		  								</b>
	  								<% else %>
										<b class="pending">
		  									<%= @epsadmin_merchant.status.upcase unless @epsadmin_merchant.status.nil? %>
		  								</b>
	  								<% end %>
				  				</td>
				  			</tr>			  			 			
						</table>
			  		</div>
		  		</div>
		  	</div>
		  	<div class="clearfix"></div>

		  	<div class="kyc_details">
			  	<h2>KYC Details</h2>
			  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				  	<div class="merchant_details">
				  		<div class="row">
					  		<table>
					  			<tr class="kyc_txt">
					  				<td>
					  					KYC Submitted
									</td>
					  				<td>
					  					<% if @epsadmin_merchant.is_kyc_submitted != true %>
											No
										<% else %>
											Yes
										<% end %>
									</td>
					  			</tr>
					  			<tr>
					  				<td>
										Address Proof:
					  				</td>
					  				<td><%= image_tag @epsadmin_merchant.address_proof.url %></td>
					  			</tr>
					  			<tr>
					  				<td>ID Proof:</td>
					  				<td><%= image_tag @epsadmin_merchant.id_proof.url %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Business Address Proof:
					  				</td>
					  				<td>
					  					<%= image_tag @epsadmin_merchant.business_address_proof.url %>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Business ID Proof:
					  				</td>
					  				<td> 
					  					<%= image_tag @epsadmin_merchant.business_id_proof.url %>
					  				</td>
					  			</tr>
					  		</table>
				  		</div>
				  	</div>
			  	</div>	

			  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				  	<div class="merchant_details business_details given_id">
				  		<div class="row">
					  		<table>			  			
					  			<tr>
					  				<td>Given Address Proof:</td>
					  				<td><%= @epsadmin_merchant.given_address_proof %></td>
					  			</tr>
					  			<tr>
					  				<td>Given Id Proof:</td>
					  				<td><%= @epsadmin_merchant.given_id_proof %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Given Business Address Proof:
					  				</td>
					  				<td><%= @epsadmin_merchant.given_business_address_proof %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Given Business Id Proof:  
					  				</td>
					  				<td><%= @epsadmin_merchant.given_business_id_proof %></td>
					  			</tr>
					  		</table>
				  		</div>
				  	</div>
			  	</div>
			  	<div class="clearfix"></div>			  	
	  		</div>

		  <div class="submit_space button_space text-center">
		  		<%= link_to 'Edit', edit_epsadmin_merchant_path, :class=>"btn btn-info", :disabled => false if is_merchant_editable?(@epsadmin_merchant.status) %>

		  		<%= link_to 'Destroy', epsadmin_merchant_path, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' }, :disabled => false if is_merchant_deletable?(@epsadmin_merchant.status) %>

		  		<%= link_to 'Back', epsadmin_merchants_path, :class => "btn btn-info" %>
		  </div>
			  
			<!--status update-->
		  <div class="status_update text-center">
		  	<h3>Status Update</h3>

			<% if @epsadmin_merchant.status == "pending" %>
				<button type="button" id="activate" class="btn btn-success scheck">Activate</button> 
				<button type="button" id="inactivate" class="btn btn-warning" disabled>Inactivate</button> 
				<button type="button" id="cancel" class="btn btn-danger" disabled>Cancel</button> 
				<button type="button" id="close" class="btn btn-info" disabled>Close</button> 
			<% end %>

			<% if @epsadmin_merchant.status == "active" %>
				<button type="button" id="activate"  class="btn btn-success" disabled>Activated</button> 
				<button type="button" id="inactivate" class="btn btn-warning scheck">Inactivate</button> 
				<button type="button" id="cancel" class="btn btn-danger scheck">Cancel</button> 
				<button type="button" id="close" class="btn btn-info scheck">Closed</button> 
			<% end %>

			<% if @epsadmin_merchant.status == "inactive" %>
				<button type="button" id="activate"  class="btn scheck">Activate</button> 
				<button type="button" id="inactivate" class="btn btn-warning" disabled>Inactivated</button> 
				<button type="button" id="cancel" class="btn btn-danger scheck">Cancel</button> 
				<button type="button" id="close" class="btn btn-info scheck">Close</button> 
			<% end %>

			<% if @epsadmin_merchant.status == "cancelled" %>
				Account is currently cancelled.
			<% end %>
			<% if @epsadmin_merchant.status == "closed" %>
				Account is currently closed.
			<% end %>
		  </div>
			  <!--stats update ends-->
		</div>
  	</div>
  	
</section>



<script>
$(document).ready(function(){
    $('.scheck').click(function(){
    	var check = confirm("Are you sure?");
        if (check == true) {
    	var status= $(this).attr('id');
    	 // alert(status);
	$.ajax({
	type: "GET",
	url: '/epsadmin/merchants/<%=@epsadmin_merchant.id%>/merchant_status',
	data: {st: status},
	dataType: 'json',
 	success: function(data){
                  if(data == true)
                  	window.location.href='/epsadmin/merchants/<%=@epsadmin_merchant.id%>'; 
                  else
                  	alert("Device status should be in active.All the merchant fields should be present");
                  	return false;
                }
	});
   
}
else
	{
		return false;
	}
});
     });
</script>
