<section>
	<div class="container">
		<div class="padding_inner">
  		<h1>Merchant > Transactions</h1>
		<%= render_breadcrumbs :separator => ' / ' %>
	 	<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
  		<div class="tab_menu">
  			<ul>
  				<li><%=link_to "Details",epsadmin_merchants_path%></li>
  				<li><%=link_to "Devices",epsadmin_merchant_devices_path(@merchant.id)%></li>
  				<li><%= link_to 'Transactions', epsadmin_merchant_transaction_path(@merchant.id) %></li>
  				<li><%= link_to 'Invoice', epsadmin_merchant_invoices_path(@merchant.id) %></li>
  			</ul>
  			<div class="clearfix"></div>
  		</div>
  		<div class="clearfix"></div>
  		<!--tab_menu ends-->	

	  	<div class="merchant_table table-responsive dashboard_pending">
	  		<table id="transaction" class="display table text-center">
	  			<thead>
					<tr>
						<th>
							Date
						</th>
						<th>
							Amount
						</th>
						<th>
							Status
						</th>
						<th>
							Device Serial Number
						</th>
					</tr>
				</thead>
				<tbody>
					<% @epsadmin_transaction_list.each do |transaction_list| %>
						<tr>
							<td>
								<%= transaction_list.transaction_timestamp.strftime("%d/%m/%y") unless transaction_list.transaction_timestamp.nil? %>
							</td>
							<td>
								<%= transaction_list.amount unless transaction_list.transaction_status.nil? %>
							</td>
								<td>
									<%= transaction_list.transaction_status.upcase unless transaction_list.amount.nil? %>
								</td>
							<td>
								<span>
									<%= transaction_list.device.device_serial_number  unless transaction_list.device.blank? %>
								</span>
								<div class="button_device pull-right">
									<% if transaction_list.transaction_status == "pending" %>
										<button type="submit" class="btn btn-success popup" onClick="pop('popDiv')" id="<%=transaction_list.id%>">Paid</button>



								  		<button type="submit" class="btn btn-danger cancel" id="<%=transaction_list.id%>">Cancel</button>
							  		<% end %> 
							  	</div>
							</td>
						</tr>
					<% end %>
				</tbody>			  			
	  		</table>
	  	</div><!--merchant_table ends-->
	</div>
	</div>
</section> 
<div id="popDiv" class="ontop">
	<table cellpadding="4" cellspacing="4" id="popup">
		<tr>
			<td align="right">
				<a title="Click here to close the pop-up" href="#" onClick="hide('popDiv')">X</a>
			</td>
		</tr>
		<tr>
			<td align="center" style="font-weight:bold">
				Payment Details
			</td>
		</tr>
		<tr>
			<td>
				Payment Date: <%= Date.today.strftime("%d/%m/%y") %>
				<input type="hidden" value="<%= DateTime.now %>" id="payment_timestamp" name="payment_timestamp">
			</td>
		</tr>
		<tr>
			<td>
				Transaction Type
				<select name="transaction_type" id="transaction_type">
					<option value="">Select Type</option>	
				  	<option value="cash">Cash</option>
				  	<option value="imps">IMPS</option>
				  	<option value="paymentgateway">PaymentGateway</option>
				  	<option value="emv">EMV</option>
				</select>
				<input type="hidden" id="tid" name="tid">
			</td>
		</tr>
		<tr>
			<td>
				Transaction Details <br/>
				<textarea name="transaction_details" id="transaction_details" placeholder="Enter transaction details here..." class="transaction_area"></textarea>
			</td>
		</tr>

		<tr>
			<td id="button" align="center">
				<input type="submit" value="Submit">
			</td>
		</tr>
	</table>
</div>
<script type="text/javascript">
  $('#transaction').dataTable();
  $(".popup").click(function(){
		var val = $("#tid").val($(this).attr('id'));
		$("#transaction_type").val('');
	    $("#transaction_details").val('');
	})

	$("#button").click(function() {
		var check = confirm("Are you sure");
        if (check == true) {
		 var tid = $("#tid").val();
		 // alert(tid);
		var date = $("#payment_timestamp").val();
		var type = $("#transaction_type").val();
		var details = $("#transaction_details").val();
		if (type != "" && details != ""){
		   	$.ajax({
		   	url: "/epsadmin/merchants/<%=@merchant.id%>/transaction_status",
		   	type: "GET",
		   	data: {"date" : date, "type" : type, "details" : details, "tid" : tid},
		   	dataType: "json",
		   	success: function(data) {
		   		window.location.href='/epsadmin/merchants/<%=@merchant.id%>/transaction'; 
		   		alert("Successfully updated the status")
		        location.reload();
		     	}
		   	});
		}
		else if (type == "" ){
			alert("Please select payment type");
		}
		else{
			alert("Please provide the payment details");
		}
		}
	else
	{
		$('.ontop').hide();
		return false;

	}

	});

	function pop(div) {
		document.getElementById(div).style.display = 'block';
	}
	function hide(div) {
		document.getElementById(div).style.display = 'none';
	}
		//To detect escape button
	document.onkeydown = function(evt) {
		evt = evt || window.event;
		if (evt.keyCode == 27) {
			hide('popDiv');
		}
	};
	$('.cancel').click(function(){
	var check = confirm("Are you sure you want to Cancel?");
        if (check == true) {
    	var status= $(this).attr('id');
    	var cls= $(this).attr('class');
    	 // alert(status);
	$.ajax({
	type: "GET",
	url: '/epsadmin/merchants/<%=@merchant.id%>/transaction_status',
	data: {tid: status,cls: cls},
	dataType: 'json',
 	success: function(data){
                  if(data == true)
                  	window.location.href='/epsadmin/merchants/<%=@merchant.id%>/transaction'; 
                  else
                  	return false;
                }
	});}
	else
	{
		return false;
	}
    });
</script>