
<section>
  <div class="container">
    <div class="padding_inner">
    <div class="container back_outer change_pass_bk">
      <%= link_to "Back", :back, :class =>"btn back_btn" %>
      </div>
      <h1>Change Your Password</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> 
      <div class="login_div text-center change_password">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        
          <div class="error_msg">
            <%= devise_error_messages! %>
          </div>

          <div class="form-group">     
            <%= f.email_field :email, autofocus: true, :readonly => true, :class =>"form-control", :placeholder => "Email" %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.password_field :current_password, autocomplete: "off", :class =>"form-control", :placeholder => "Current Password" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", :class =>"form-control", :placeholder => "New Password" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", :class =>"form-control", :placeholder => "Confirm New Password" %>
          </div>
          <%= f.submit "Change my password", :class=>"btn btn-success" %>
        <% end %>
      </div>
      <!--login_div ends-->
    </div>
  </div>
</section>


