<section>
  <div class="container">
    <div class="padding_inner">
      <h1>Sign up</h1>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> 
      <div class="login_div text-center change_password">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="error_msg"><%= devise_error_messages! %></div>
          <div class="form-group"> 
            <%= f.email_field :email, autofocus: true, :class =>"form-control", :placeholder =>"Email" %>
          </div>
          <div class="form-group">
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", :class =>"form-control", :placeholder =>"Password"  %>
          </div>
          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", :class =>"form-control", :placeholder =>"Confirm Password"   %>
          </div>
          <%= f.submit "Sign up", :class =>"btn btn-success" %>
      <% end %>
      <div class="text-center forgot_pass"><%= render "devise/shared/links" %></div> 
      </div>
    </div>
  </div>
</section>