<section>
    <div class="container">
      <div class="padding_inner">
        <h1>Listing All Invoices</h1>         
        <div class="clearfix"></div>    
        <!--merchant_table-->
        <div class="merchant_table table-responsive">
          <table class="display table text-center" id="all_invoice">
          	<thead>
				<tr>
				  <th>Invoice Id</th>
				  <th>Date</th>
				  <th>Amount</th>
				  <th>Type</th>
				  <th>status</th>
				</tr>
				</thead>
			  	<tbody>
				  	<% @all_invoice.each do |invoice| %>
					    <tr>
					      	<td align="center">
					      		<%= invoice.invoice_number %>
					  		</td>
						    <td align="center">
						    	<%= invoice.invoice_date.strftime("%d/%m/%y") unless invoice.invoice_date.nil? %>
					    	</td>
						    <td align="center">
						    	<%= invoice.invoice_amount %>
					    	</td>
						    <td align="center">
						    	<%= invoice.invoice_type %>
					    	</td>
						    <td align="center">
						    	<%= invoice.status.upcase unless invoice.status.nil? %>
					    	</td>
					    </tr>
				  	<% end %>
			  	</tbody>            
          	</table>
        </div><!--merchant_table ends--> 
    </div>
  </div>
</section> 

<script type="text/javascript">
  $('#all_invoice').dataTable();
</script>