<section>
    <div class="container">
      <div class="padding_inner">
        <h1>Listing All Devices</h1>      
        <div class="merchant_table table-responsive"><!--merchant_table-->
          <table class="display table text-center" id="all_device" >
            <thead>
              <tr>
                  <th>Terminal Id</th>
                  <th>Merchant Name</th>
                  <th>Serial Number</th>
                  <th>Type</th>
                  <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @all_device.each do |all_device| %>
                  <tr>
                    <td align="center">
                      <%= link_to all_device.terminal_id, individual_device_path(all_device) %>
                    </td>
                    <td align="center">
                      <%= all_device.merchant.first_name %> <%= all_device.merchant.last_name %>
                    </td>
                    <td align="center">
                      <%= all_device.device_serial_number %>
                    </td>     
                    <td align="center">
                      <%= all_device.device_make %>
                    </td>     
                    <td align="center"> 
                      <%= all_device.device_status.upcase unless all_device.device_status.nil? %>
                    </td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div><!--merchant_table ends-->       
    </div>
  </div>
</section>

<script type="text/javascript">
  $('#all_device').dataTable();
</script>