<div class="container back_outer">
<%= link_to 'Back', admin_dashboard_all_device_path, :class => "btn back_btn" %>
</div>
<section>
  	<div class="container">
  		<div class="padding_inner details_lookup">
	  		<h1>Devices (<%= @individual_device.terminal_id.upcase %>)</h1>		  		
	  		<div class="table_outer">
		  		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			  		<div class="merchant_details">
				  		<div class="row">			  		
					  		<table>
					  			<tr>
					  				<td>
					  					Device Serial Number: <%=@individual_device.device_serial_number%>
					  				</td>
					  				<td></td>
					  			</tr>
								<tr>
					  				<td>
					  					Sim Phone Number: <%=@individual_device.sim_phone_number%>
					  				</td>
					  				<td></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Sim Msid Number: <%=@individual_device.sim_msid_number%>
					  				</td>
					  				<td></td>
					  			</tr>	
					  			<tr>
					  				<td>
					  					Device Make: <%=@individual_device.device_make%>
					  				</td>
					  				<td></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Device Display: <%= @individual_device.device_display %>
					  				</td>
					  				<td></td>
					  			</tr>	
					  			<tr>
					  				<td>
			  							Status: 
			  							<% if @individual_device.device_status == "active" %>
				  							<b class="active">
			  									<%= @individual_device.device_status.upcase unless @individual_device.device_status.nil? %>
			  								</b>
		  								<% else %>
											<b class="pending">
			  									<%= @individual_device.device_status.upcase unless @individual_device.device_status.nil? %>
			  								</b>
		  								<% end %>
					  				</td>
					  			</tr>		  					  			
							</table>
						</div>
			  		</div>
		  		</div>

			  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				  	<div class="merchant_details">
				  		<div class="row">			  		
					  		<table>
					  			<tr>
					  				<td>
					  					Terminal Id: <%= @individual_device.terminal_id %>
									</td>
					  				<td></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Setup Coast: <%= @individual_device.setup_cost %>
					  				</td>
					  				<td></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Monthly Cost: <%= @individual_device.monthly_cost%> 
					  				</td>
					  				<td></td>
					  			</tr>	
					  			<tr>
					  				<td>
					  					Transaction Cost: <%= @individual_device.transaction_cost %>
					  				</td>
					  				<td></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Parent Id: <%= @individual_device.parent_id %>
					  				</td>
					  				<td></td>
					  			</tr>			  					  			
							</table>
				  		</div>
		  			</div>
			  	</div>	
			  	<div class="clearfix"></div>					  		
		  	</div><!--table_outer ends-->
		</div>
  	</div>
</section> 
  
