<section>
  <div class="container">
    <div class="padding_inner">
      <% if params[:action] == "new" || params[:action] == "create" %>
        <h1>Merchant > Devices (Add Device)</h1>
      <% else %>
        <h1>Merchant > Devices (Edit Device - <%= @epsadmin_device.terminal_id %>)</h1>
      <% end %>
      
      <%= render_breadcrumbs :separator => ' / ' %>
      <div class="tab_menu">
        <ul>
          <li>
            <%= link_to "Details",epsadmin_merchants_path %>
          </li>
          <li>
            <%= link_to "Devices",epsadmin_merchant_devices_path(@merchant.id) %>
          </li>
          <li>
            <%= link_to 'Transactions', epsadmin_merchant_transaction_path(@merchant.id) %>
          </li>
          <li>
            <%= link_to 'Invoice', epsadmin_merchant_invoices_path(@merchant.id) %>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div><!--tab_menu ends-->
      <div class="clearfix"></div>  

      <%= form_for([:epsadmin, @merchant,@epsadmin_device]) do |f| %>
        <% if @epsadmin_device.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@epsadmin_device.errors.count, "error") %> prohibited this device from being saved:</h2>
            <ul>
            <% @epsadmin_device.errors.full_messages.each do |msg| %>
              <li class="error_msg"><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %> 

        <div class="table_outer">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="merchant_details">
              <div class="row">           
                <table>
                  <tr>
                    <td>
                      <%= f.label :device_serial_number%>
                    </td>
                    <td>
                      <div class="form-group">               
                          <%= f.text_field :device_serial_number, :class=>"form-control" %>
                       </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :sim_phone_number %>
                    </td>
                    <td>
                      <div class="form-group">                            
                        <%= f.text_field :sim_phone_number, :class=>"form-control" %>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>                           
                      <%= f.label :sim_msid_number %>
                    </td>
                    <td>
                      <div class="form-group"> 
                        <%= f.text_field :sim_msid_number, :class=>"form-control" %>
                      </div>
                    </td>
                  </tr> 
                  <tr>
                    <td>
                      <%= f.label :device_make %>
                    </td>
                    <td>
                      <div class="form-group"> 
                        <%= f.select :device_make, [['Select Device Make',''],['Falcon Plus','Falcon Plus'],['Leopard','Leopard'],['Leopard Plus','Leopard Plus']], :class=>"form-control" %>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>                            
                      <%= f.label :device_display %>
                    </td>
                    <td>
                      <div class="form-group">
                        <%= f.text_field :device_display, :class=>"form-control" %>
                      </div>
                    </td>
                  </tr>                  
                </table>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="merchant_details business_details">
              <div class="row">           
                <table>
                  <tr>
                    <td>
                      <%= f.label :bank_mmid %>
                    </td>
                    <td>
                      <div class="form-group">                            
                        <%= f.text_field :bank_mmid, :class=>"form-control" %>
                      </div>
                    </td>
                  </tr> 
                  <tr>
                    <td>
                      <%= f.label :setup_cost %>
                    </td>
                    <td>
                      <div class="form-group">                            
                        <%= f.text_field :setup_cost, :class=>"form-control" %>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :monthly_cost %>
                    </td>
                    <td>
                      <div class="form-group">  
                        <%= f.text_field :monthly_cost, :class=>"form-control" %>
                      </div>
                    </td>
                  </tr> 
                  <tr>
                    <td>                      
                      <%= f.label :transaction_cost %>
                    </td>
                    <td>
                      <div class="form-group"> 
                        <%= f.text_field :transaction_cost, :class=>"form-control" %>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <%= f.label :parent_id, "Replacement for" %> (Terminal Id)</td>
                    <td>
                      <div class="form-group">
                        <% if !@merchant.devices.where(:device_status => "deactivated").nil? %>
                          <%= f.collection_select(:parent_id, @merchant.devices.where(:device_status => "deactivated"), :id, :terminal_id) %>
                        <% else %>
                           N/A
                        <% end %>

                        <%= f.hidden_field :merchant_id,:value => "#{@merchant.id}" %>
                        <%= f.hidden_field :device_status, :value => "pending" %>
                      </div>
                    </td>
                  </tr>                         
                </table>
              </div>
            </div>
          </div>  
          <div class="clearfix"></div>  

          <div class="submit_space text-center">
            <%= f.submit :class=>"btn btn-success" %>
          </div>
        </div><!--table_outer ends-->
      <% end %>
    </div>
  </div>
</section> 

