<section>
  <div class="container">
    <div class="padding_inner">
        <h1>Merchant > Devices</h1>
        <%= render_breadcrumbs :separator => ' / ' %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> 
        <div class="tab_menu">
          <ul>
            <li>
              <%= link_to "Details",epsadmin_merchants_path %>
            </li>
            <li>
              <%= link_to "Devices",epsadmin_merchant_devices_path(@merchant.id) %>
            </li>
            <li>
              <%= link_to 'Transactions', epsadmin_merchant_transaction_path(@merchant.id) %>
            </li>
            <li>
              <%= link_to 'Invoice', epsadmin_merchant_invoices_path(@merchant.id) %>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!--tab_menu ends-->  
        <div class="pull-right">
            <%= link_to 'Add New Device', new_epsadmin_merchant_device_path,:class=>"btn btn-primary", :disabled => false if is_device_addable?(@merchant.status) %>
        </div>          
        <div class="clearfix"></div>    
        <!--merchant_table-->
        <div class="merchant_table table-responsive">
          <table class="display table text-center" id="device">
            <thead>
              <tr>
                  <th>Terminal ID</th>
                <th>Phone Number</th>
                <th>Serial Number</th>
                <th>Device Make</th>
                <th>Device Status</th>
              </tr>
          </thead>
            <tbody>
              <% @epsadmin_devices.each do |device| %>
                <tr>
                    <td><%=link_to device.terminal_id,epsadmin_merchant_device_path(@merchant.id,device.id) %></td>
                    <td><%=device.sim_phone_number%> </td>    
                    <td><%=device.device_serial_number%></td>
                    <td><%=device.device_make%></td>
                    <td><%= device.device_status.upcase unless device.device_status.nil? %></td>
                </tr>
              <% end %>
            </tbody>            
          </table>
        </div>
        <!--merchant_table ends--> 
    </div>
  </div>
</section> 
   

<script type="text/javascript">
  $('#device').dataTable();
</script>

