<section>
	<div class="container">
		<div class="padding_inner details_lookup">
	  		<h1>Merchant > Devices(<%= @epsadmin_device.terminal_id %>)</h1>
	  		<%= render_breadcrumbs :separator => ' / ' %>
  		 	<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
	  		<div class="tab_menu">
	  			<ul>
	  				<li><%=link_to "Details",epsadmin_merchants_path%></li>
	  				<li><%=link_to "Devices",epsadmin_merchant_devices_path(@merchant.id)%></li>
	  				<li><%= link_to 'Transactions', epsadmin_merchant_transaction_path(@merchant.id) %></li>
	  				<li><%= link_to 'Invoice', epsadmin_merchant_invoices_path(@merchant.id) %></li>
	  			</ul>
	  			<div class="clearfix"></div>
	  		</div>
  			<div class="clearfix"></div>
	  		<!--tab_menu ends-->	
	  		<div class="table_outer">
		  		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				  	<div class="merchant_details">
				  		<div class="row">			  		
					  		<table>
					  			<tr>
					  				<td>
					  					Device Serial Number: 
					  				</td>
					  				<td><%=@epsadmin_device.device_serial_number%></td>
					  			</tr>
								<tr>
					  				<td>
					  					Sim Phone Number: 
					  				</td>
					  				<td><%=@epsadmin_device.sim_phone_number%></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Sim Msid Number: 
					  				</td>
					  				<td><%=@epsadmin_device.sim_msid_number%></td>
					  			</tr>	
					  			<tr>
					  				<td>
					  					Device Make: 
					  				</td>
					  				<td><%=@epsadmin_device.device_make%></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Device Display: 
					  				</td>
					  				<td><%= @epsadmin_device.device_display %></td>
					  			</tr>	
					  			<tr>
					  				<td>
			  							Status: 
			  						</td>
			  						<td>
			  							<% if @epsadmin_device.device_status == "active" %>
				  							<b class="active">
			  									<%= @epsadmin_device.device_status.upcase unless @epsadmin_device.device_status.nil? %>
			  								</b>
		  								<% else %>
											<b class="pending">
			  									<%= @epsadmin_device.device_status.upcase unless @epsadmin_device.device_status.nil? %>
			  								</b>
		  								<% end %>
			  						</td>
					  			</tr>		  					  			
							</table>
				  		</div>
			  		</div>
			  	</div>

			  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				  	<div class="merchant_details">
				  		<div class="row">			  		
					  		<table>
					  			<tr>
					  				<td>
					  					Terminal Id: 
									</tdpopup>
					  				<td><%= @epsadmin_device.terminal_id %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Setup Coast: 
					  				</td>
					  				<td><%= @epsadmin_device.setup_cost %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Monthly Cost: 
					  				</td>
					  				<td><%= @epsadmin_device.monthly_cost%> </td>
					  			</tr>	
					  			<tr>
					  				<td>
					  					Transaction Cost: 
					  				</td>
					  				<td><%= @epsadmin_device.transaction_cost %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Replacement For: 
					  				</td>
					  				<td><%= @epsadmin_device.parent_id %></td>
					  			</tr>			  					  			
							</table>
				  		</div>
		  			</div>
			  	</div>	

	  			<div class="clearfix"></div>			
	  			<div class="submit_space button_space text-center">
	  				<%= link_to 'Create Invoice', new_epsadmin_merchant_invoice_path(:device_id => @epsadmin_device.id), :class => "btn btn-primary", :disabled => false if is_device_invoice_addable?(@epsadmin_device.device_status) %>

					<%= link_to 'Back', epsadmin_merchant_devices_path(@merchant.id), :class=>"btn back_btn"  %>

	  				<%= link_to 'Edit', edit_epsadmin_merchant_device_path(@merchant,@epsadmin_device), :class => "btn btn-info", :disabled => false if is_device_editable?(@epsadmin_device.device_status) %>

					<%= link_to 'Destroy', epsadmin_merchant_device_path(@merchant,@epsadmin_device), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger", :disabled => false if is_device_deletable?(@epsadmin_device.device_status) %>

					
			  	</div>
				  <!--status update-->
				<div class="status_update text-center">
				  	<h3>Status Update</h3>

				  	<% if @epsadmin_device.device_status == "pending" %>
						<button type="button" id="activate" class="btn btn-success scheck">Activate</button> 
						<button type="button" id="inactivate" class="btn btn-warning" disabled>Inactivate</button> 
						<button type="button" id="deactivate" class="btn btn-danger" disabled>Deactivate</button> 
					<% end %>

					<% if @epsadmin_device.device_status == "active" %>
						<button type="button" id="activate" class="btn btn-success" disabled>Activated</button> 
						<button type="button" id="inactivate" class="btn btn-warning scheck">Inactivate</button> 
						<button type="button" id="deactivate" class="btn btn-danger scheck">Deactivate</button> 
					<% end %>

					<% if @epsadmin_device.device_status == "inactive" %>
						<button type="button" id="activate" class="btn btn-success scheck">Activate</button> 
						<button type="button" id="inactivate" class="btn btn-warning" disabled>Inactivated</button> 
						<button type="button" id="deactivate" class="btn btn-danger scheck">Deactivate</button> 
					<% end %>
				</div><!--stats update ends-->
	  		</div><!--table_outer ends-->
		</div>
	</div>
</section> 
     <script>
$(document).ready(function(){
    $('.scheck').click(function(){
    	var check = confirm("Are you sure?");
        if (check == true) {
    	var status= $(this).attr('id');
    	 // alert(status);
	$.ajax({
	type: "GET",
	url: '/epsadmin/merchants/<%=@merchant.id%>/devices/<%=@epsadmin_device.id%>/device_status',
	data: {st: status},
	dataType: 'json',
 	success: function(data){
                  if(data == true)
                  	window.location.href='/epsadmin/merchants/<%=@merchant.id%>/devices/<%=@epsadmin_device.id%>'; 
                  else
                  	alert("Merchant status should be Active/Pending. Device invoice should be Paid. Replaement device status should be inactive or deactivated")
                  	return false;
                }
	});
	}
else
	{
		return false;
	}
    });
});
</script>