<section>
    <div class="container">
      <div class="padding_inner">
        <h1>Merchant > Invoice</h1>  
        <%= render_breadcrumbs :separator => ' / ' %>     
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p> 
        <div class="tab_menu">
          <ul>
            <li>
              <%= link_to "Details",epsadmin_merchants_path %>
            </li>
            <li>
              <%= link_to "Devices",epsadmin_merchant_devices_path(@merchant.id) %>
            </li>
            <li>
              <%= link_to 'Transactions', epsadmin_merchant_transaction_path(@merchant.id) %>
            </li>
            <li>
              <%= link_to 'Invoice', epsadmin_merchant_invoices_path(@merchant.id) %>
            </li>
          </ul>
          <div class="clearfix"></div>
        </div>
        <!--tab_menu ends-->  
        <div class="pull-right">
          <%= link_to 'Add New Invoice', new_epsadmin_merchant_invoice_path, :class=>"btn btn-primary" %>
        </div>          
        <div class="clearfix"></div>    
        <!--merchant_table-->
        <div class="merchant_table table-responsive">
          <table class="display table text-center" id="invoice">
              <thead>
              <tr>
                <th>Invoice Id</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @epsadmin_invoices.each do |invoice| %>
                <tr>
                    <td><%= link_to invoice.invoice_number, epsadmin_merchant_invoice_path(@merchant.id,invoice.id) %></td>
                    <td><%= invoice.invoice_date.strftime("%d/%m/%y") unless invoice.invoice_date.nil? %></td>
                    <td><%= invoice.invoice_amount %></td>
                    <td><%= invoice.invoice_type.upcase unless invoice.invoice_type.nil? %></td>
                    <td><%= invoice.status.upcase unless invoice.status.nil? %></td>
                </tr>
              <% end %>
            </tbody>            
          </table>
        </div><!--merchant_table ends--> 
    </div>
  </div>
</section> 

<script type="text/javascript">
  $('#invoice').dataTable();
</script>