
<section>
	<div class="container">
		<div class="padding_inner details_lookup">
	  		<h1>Merchant > Invoice (<%= @epsadmin_invoice.invoice_number %>) </h1>
        	<%= render_breadcrumbs :separator => ' / ' %>	
  		 	<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p> 
	  		<div class="tab_menu">
	  			<ul>
	  				<li>
	  					<%= link_to "Details",epsadmin_merchants_path %>
					</li>
	  				<li>
	  					<%= link_to "Devices",epsadmin_merchant_devices_path(@merchant.id) %>
	  				</li>
	  				<li>
	  					<%= link_to 'Transactions', epsadmin_merchant_transaction_path(@merchant.id) %>
	  				</li>
	  				<li>
	  					<%= link_to 'Invoice', epsadmin_merchant_invoices_path(@merchant.id) %>
	  				</li>
	  			</ul>
	  			<div class="clearfix"></div>
	  		</div>
	  		<div class="clearfix"></div><!--tab_menu ends-->	

	  		<div class="table_outer"> 				  	
			  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				  	<div class="merchant_details">
				  		<div class="row">			  		
					  		<table>
					  			<tr>
					  				<td>
					  					Invoice Number: 
					  				</td>
					  				<td><%=@epsadmin_invoice.invoice_number%></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Invoice Date: 
					  				</td>
					  				<td><%=@epsadmin_invoice.invoice_date.strftime("%d/%m/%y") unless @epsadmin_invoice.invoice_date.nil? %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Business Name: <%=@epsadmin_invoice.business_name%>
					  				</td>
					  				<td><%=@epsadmin_invoice.business_name%></td>
					  			</tr>	
					  			<tr class="add_top">
					  				<td>
					  					Address: 
					  				</td>
					  				<td><%=@epsadmin_invoice.address%></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Amount: 
					  				</td>
					  				<td><%= @epsadmin_invoice.invoice_amount %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Tax: 
					  				</td>
					  				<td><%= @epsadmin_invoice.tax %></td>
					  			</tr>		  			
							</table>
				  		</div>
			  		</div>
			  	</div>
			  	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			  		<div class="merchant_details business_details">
				  		<div class="row">
					  		<table>
					  			<tr>
					  				<td>
					  					Invoice Type: 
					  				</td>
					  				<td><%= @epsadmin_invoice.invoice_type %></td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Status: 
		  							</td>
					  				<td>
					  					<% if @epsadmin_invoice.status == "paid" %>
				  							<b class="active">
			  									<%= @epsadmin_invoice.status.upcase unless @epsadmin_invoice.status.nil? %>
			  								</b>
		  								<% else %>
											<b class="pending">
			  									<%= @epsadmin_invoice.status.upcase unless @epsadmin_invoice.status.nil? %>
			  								</b>
		  								<% end %>
					  				</td>
					  			</tr>
					  			<tr>
					  				<td>
					  					Paid Date: 
					  				</td>
					  				<td><%= @epsadmin_invoice.paid_date %></td>
					  			</tr>	
					  			<tr>
					  				<td>
					  					Payment Details: 
					  				</td>
					  				<td><%= @epsadmin_invoice.payment_details %></td>
					  			</tr>	
					  			<tr>
					  				<td>
					  					Remarks: 
					  				</td>
					  				<td><%= @epsadmin_invoice.remarks %></td>
					  			</tr>	
					  			<tr>
					  				<td>
					  					Paid Via: 
					  				</td>
					  				<td><%= @epsadmin_invoice.paid_via %></td>
					  			</tr>				  			 			
							</table>
				  		</div>
			  		</div>
		  		</div>
			  	<div class="clearfix"></div>			  	
			  	<div class="submit_space button_space text-center">

					<%= link_to 'Edit', edit_epsadmin_merchant_invoice_path(@merchant,@epsadmin_invoice), :class=>"btn btn-info", :disabled => false if is_invoice_editable?(@epsadmin_invoice.status) %>

					<%= link_to 'Back', epsadmin_merchant_invoices_path, :class => "btn back_btn" %>

					<%= link_to 'Destroy', @epsadmin_invoice_path, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger", :disabled => false if is_invoice_deletable?(@epsadmin_invoice.status)  %>
		  		</div><!--status update-->
			  	<div class="status_update text-center">
				  	<h3>Status Update</h3>
				  	<%#= @epsadmin_invoice.status.inspect%>
				  	<% if @epsadmin_invoice.status == "pending" %>
					  	<button type="submit" class="btn btn-success popup" onClick="pop('popDiv')" id="<%=@epsadmin_invoice.id%>">Pay</button>
					  	<button type="submit" class="btn btn-warning waive" onClick="pop('WaiveDiv')" id="<%=@epsadmin_invoice.id%>">Waive Off</button>
					  	<button type="submit" class="btn btn-danger cancel" onClick="pop('CancelDiv')" id="<%=@epsadmin_invoice.id%>">Cancelled</button>
					<% end %>
					<div class="invoice_stat">
						<% if @epsadmin_invoice.status == "paid" %>
							Invoice is paid.
						<% end %>

						<% if @epsadmin_invoice.status == "cancelled" %>
							Invoice is cancelled.
						<% end %>

						<% if @epsadmin_invoice.status == "waived" %>
							Invoice is waived off.
						<% end %>
					</div>
			  	</div><!--stats update ends-->
			</div>
		</div>
	</div>
</section>
     <div id="popDiv" class="ontop">
	<table cellpadding="4" cellspacing="4" id="popup">
		<tr>
			<td align="right">
				<a title="Click here to close the pop-up" href="#" onClick="hide('popDiv')">X</a>
			</td>
		</tr>
		<tr>
			<td align="center" style="font-weight:bold">
				Invoice Details
			</td>
		</tr>
		<tr>
			<td>
				 Paid Date: <%= Date.today.strftime("%d/%m/%y") %>
				<input type="hidden" value="<%= DateTime.now %>" id="payment_timestamp" name="payment_timestamp">
			</td>
		</tr>
		<tr>
			<td>
				Paid Via
				<select name="transaction_type" id="transaction_type">
					<option value="">Select Type</option>	
				  	<option value="cash">Cash</option>
				  	<option value="cheque">Cheque</option>
				  	<option value="dd">DD</option>
				  	<option value="paymentgateway">PaymentGateway</option>
				  	<option value="bank_transfer">Bank Transfer</option>
				</select>
				<input type="hidden" id="tid" name="tid">
			</td>
		</tr>
		<tr>
			<td>
				Payment Details <br/>
				<textarea name="transaction_details" id="transaction_details" placeholder="Enter transaction details here..." class="transaction_area"></textarea>
			</td>
		</tr>

		<tr>
			<td id="button" align="center">
				<input type="submit" value="Submit">
			</td>
		</tr>
	</table>
</div>

   <div id="WaiveDiv" class="waivetop">
	<table cellpadding="4" cellspacing="4" id="popup">
		<tr>
			<td align="right">
				<a title="Click here to close the pop-up" href="#" onClick="hide('WaiveDiv')">X</a>
			</td>
		</tr>
		
		
		<tr>
			<td>
				Remarks <br/>
				<textarea name="transaction_details" id="invoice_details" placeholder="Enter invoice details here..." class="invoice_details transaction_area"></textarea>
			</td>
		</tr>

		<tr>
			<td id="waived" align="center">
				<input type="submit" value="Submit">
			</td>
		</tr>
	</table>
</div>
   <div id="CancelDiv" class="canceltop">
	<table cellpadding="4" cellspacing="4" id="popup">
		<tr>
			<td align="right">
				<a title="Click here to close the pop-up" href="#" onClick="hide('CancelDiv')">X</a>
			</td>
		</tr>
		
		
		<tr>
			<td>
				Remarks <br/>
				<textarea name="transaction_details" id="invoice_cancel_details" placeholder="Enter invoice details here..." class="invoice_cancel_details transaction_area"></textarea>
			</td>
		</tr>

		<tr>
			<td id="cancelled" align="center">
				<input type="submit" value="Submit">
			</td>
		</tr>
	</table>
</div>

<script type="text/javascript">
 
  $(".popup").click(function(){
		var val = $("#tid").val($(this).attr('id'));
		$("#transaction_type").val('');
	    $("#transaction_details").val('');
	})

	$("#button").click(function() {
		var check = confirm("Are you sure?");
        if (check == true) {
		 var tid = $("#tid").val();
		
		 var cls= $(".popup").attr('class');
		
		var date = $("#payment_timestamp").val();
		var type = $("#transaction_type").val();
		var details = $("#transaction_details").val();
		
		if (type != "" && details != ""){
		   	$.ajax({
		   	url: "/epsadmin/merchants/<%=@merchant.id%>/invoice_status",
		   	type: "GET",
		   	data: {"cls" : cls,"date" : date, "type" : type, "details" : details, "tid" : tid},
		   	dataType: "json",
		   	success: function(data) {
		   		window.location.href='/epsadmin/merchants/<%=@merchant.id%>/invoices/<%=@epsadmin_invoice.id%>'; 
		   		alert("Successfully updated the status")
		        location.reload();
		     	}
		   	});
		}
		else if (type == "" ){
			alert("Please select payment type");
		}
		else{
			alert("Please provide the payment details");
		}
		}
else
	{
		$('.ontop').hide();
		return false;
	}

	});

	function pop(div) {
		document.getElementById(div).style.display = 'block';
	}
	function hide(div) {
		document.getElementById(div).style.display = 'none';
	}
		//To detect escape button
	document.onkeydown = function(evt) {
		evt = evt || window.event;
		if (evt.keyCode == 27) {
			hide('popDiv');
		}
	};

</script>
<script type="text/javascript">
	$(".waive").click(function(){
		var val = $("#tid").val($(this).attr('id'));
		$(".invoice_details").val('');
	  
	})

	$("#waived").click(function() {
		var check = confirm("Are you sure?");
        if (check == true) {
		 var cls= $(".waive").attr('class');
		 var tid = $("#tid").val();
		var idetails = $(".invoice_details").val();
		
		if (idetails != ""){
		   	$.ajax({
		   	url: "/epsadmin/merchants/<%=@merchant.id%>/invoice_status",
		   	type: "GET",
		   	data: {"details" : idetails, "tid" : tid,"cls" : cls},
		   	dataType: "json",
		   	success: function(data) {
		   		window.location.href='/epsadmin/merchants/<%=@merchant.id%>/invoices/<%=@epsadmin_invoice.id%>'; 
		   		alert("Successfully updated the status")
		        location.reload();
		     	}
		   	});
		}
		
		else{
			alert("Please provide the payment details");
		}
		}
else
	{
		$('.waivetop').hide();
		return false;
	}

	});

	function pop(div) {
		document.getElementById(div).style.display = 'block';
	}
	function hide(div) {
		document.getElementById(div).style.display = 'none';
	}
		//To detect escape button
	document.onkeydown = function(evt) {
		evt = evt || window.event;
		if (evt.keyCode == 27) {
			hide('WaiveDiv');
		}
	};
</script>
<script type="text/javascript">
	$(".cancel").click(function(){
		var val = $("#tid").val($(this).attr('id'));
		$(".invoice_cancel_details").val('');
	})

	$("#cancelled").click(function() {
		var check = confirm("Are you sure?");
        if (check == true) {
		 var cls= $(".cancel").attr('class');
		 var tid = $("#tid").val();
		var idetails = $(".invoice_cancel_details").val();
		
		if (idetails != ""){
		   	$.ajax({
		   	url: "/epsadmin/merchants/<%=@merchant.id%>/invoice_status",
		   	type: "GET",
		   	data: {"details" : idetails, "tid" : tid,"cls" : cls},
		   	dataType: "json",
		   	success: function(data) {
		   		window.location.href='/epsadmin/merchants/<%=@merchant.id%>/invoices/<%=@epsadmin_invoice.id%>'; 
		   		alert("Successfully updated the status")
		        location.reload();
		     	}
		   	});
		}
		
		else{
			alert("Please provide the payment details");
		}
}
else
	{
		$('.canceltop').hide();
		return false;
	}
	});

	function pop(div) {
		document.getElementById(div).style.display = 'block';
	}
	function hide(div) {
		document.getElementById(div).style.display = 'none';
	}
		//To detect escape button
	document.onkeydown = function(evt) {
		evt = evt || window.event;
		if (evt.keyCode == 27) {
			hide('CancelDiv');
		}
	};
</script>
