<section>
  <div class="container">
    <div class="padding_inner">
      <h1>Log in</h1>
      <div class="login_div text-center change_password">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="error_msg"><%= alert %></div>
          <div class="form-group"> 
            <%= f.email_field :email, autofocus: true, :class =>"form-control", :placeholder =>"Email" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", :class =>"form-control", :placeholder =>"Password"  %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <%= f.submit "Log in", :class =>"btn btn-success" %>
      <% end %>
      <div class="text-center forgot_pass"><%= render "devise/shared/links" %></div> 
      </div>
    </div>
  </div>
</section>
