<!DOCTYPE html>
<html>
	<head>
	  <title>Epspro</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

		<header>
		  	<div class="container">
		  		<div class="col-lg-2 col-md-2 col-sm-1 col-xs-12 logo">
		  			<a href="#" class="logo_txt">Logo</a>
		  		</div>
		  		<div class="col-lg-10 col-md-10 col-sm-11">	  
		  			<!--menu-->
		  			<nav class="navbar-default pull-left">       
				          <div class="navbar-header">
				            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">            
				              <span class="icon-bar"></span>
				              <span class="icon-bar"></span>
				              <span class="icon-bar"></span>
				            </button>          
				          </div>
				          <div id="navbar" class="navbar-collapse collapse">
				            <ul class="nav navbar-nav pull-right">
								<% if user_signed_in? %>
							 		<% if current_user.not_merchant? %>
								 	    <li><%=link_to "Merchants",epsadmin_merchants_path %></li>
					  					<li><%=link_to "Devices", admin_dashboard_all_device_path %></li>
					  					<li><%=link_to "Invoices", admin_dashboard_all_invoice_path %></li>
					  					<li><%=link_to "Users",epsadmin_admins_path if current_user.is_admin? %></li>
							 	    <% else %>
							 	    	<li><%=link_to "Dashboard", dashboard_index_path %></li>
							 	    	<li><%=link_to "Transactions", dashboard_transaction_path %></li>
							 	    	<li><%=link_to "Merchant Details", dashboard_merchant_detail_path %></li>
							 	    	<li><%=link_to "Billing", dashboard_billing_path %></li>
							    	<% end %>

							 	    <li><%= link_to "Change Password", edit_user_registration_path %></li>
							 	    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li> 
						 		<%end%>
				            </ul>
				          </div>       
		  			</nav>
		  			<!--menu ends-->	
		  			<div class="pull-right user_name">
		  				<% if user_signed_in? %>
		  					<img src="/assets/person_icon.png" alt="">
					 	<%end%>
			  			<span>
		  				 	<% if user_signed_in? %>
						 		Hi <%= current_user.full_name %>
						 	<%end%>
			  			</span>
		  			</div>  			
		  		</div>
		  		<div class="clearfix"></div>
		  	</div>
		</header>

	<%= yield %>

	</body>
</html>
